[http] 
	proxy =http://username:password@proxyurl:8080

[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	symlinks = false
	ignorecase = true
	hideDotFiles = dotGitOnly

	
[remote "orgin"]
	url = https://github.com/urtop/Mashibing-spring.git
	fetch = +refs/heads/*:refs/remotes/orgin/*
